@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(0,212,255,1) 100%);
    font-family: Bebas Neue;
}


.container {
    width: 320px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 10px;
    height: 250px;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    position: relative; /* Add position: relative; to the container */
}

.container #logb {
    text-align: center;
}

.container #in1,
.container #pass {
    margin-left: 70px;
    margin-bottom: 20px;
    border-radius: 6px;
    outline:none;
    border: none;
    height: 20px;
}

.container #leb1,
.container #leb2 {
    margin-left: 70px;
    
}
#linkshit {
    position: absolute;
    bottom: 0;
    left: 1;
    margin-bottom: 10px;
    text-decoration: none;
}

#button1{
    border-radius: 10px;
    border: none;
    background-color: rgb(43, 43, 255);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(255,0,254,1) 100%); */
    color: aliceblue;
    padding: 5px;
    font-family:Bebas Neue;
    margin-left: 110px;
    width: 100px;
    height: 35px;
    margin-top: -10px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
    transform-origin: right;
    
}
#button1:hover{
    background-color: rgb(111, 0, 180);
    
}
.navbar ul {
    list-style: none; /* Move this property here */
    margin: 0;
    padding: 10px;
}

.navbar ul a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: azure;
    
}

.navbar li {
    display: inline-block;
    padding-inline: 10px; /* Should be padding-right or padding-left, not padding-inline */
}

.navbar ul{
    position: relative;
    border-bottom: 2px solid white;
}



